<!DOCTYPE html>
<html>
<head>
    {% include "components/head.html" %}
    {% block scope-lib %}{% endblock %}
</head>
<body>
{% block banner %}{% endblock %}

{% block top-nav %}
    {% include "components/top-nav.html" %}
{% endblock %}

<div class="section-header bg-color-primary color-white" id="games">
    <div class="container">
        <h1 id="pageTitle">{% block title %}{% endblock %}</h1>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block left-sidebar %}
                    {% include "components/left-sidebar.html" %}
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% block footer %}{% include "components/footer.html" %}{% endblock %}
</div>
</body>
</html>