{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Awesome WSD Gamestore</title>
<!-- CSS import -->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'js/vendor/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/c3/c3.css' %}">
<!-- Javascript import -->
<script src="{% static "js/vendor/jquery/dist/jquery.js" %}"></script>
<script src="{% static "js/vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/vendor/bootbox.js/bootbox.js" %}"></script>
<script src="{% static "js/vendor/underscore/underscore.js" %}"></script>
<script src="{% static "js/vendor/dateformat.js" %}"></script>